/*MENÜ VE LANG*/
.navbar-expand-lg .navbar-nav .nav-link {
    color: #3f3f3e;
    padding-right: .2rem;
    padding-left: .2rem;
    letter-spacing: 1px;
}

.nav-menu-color, .nav-menu-color .nav-link {
    color: #fff !important;
}

.container-menu-margin {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15px;
}

.menu-white-font {
    color: #fff;
}

.container-menu-height {
    height: 150px;
}

.container-menu-padding {
    padding: 0;
}

@media only screen and (max-width: 991px) {
    .container-menu-height {
        height: 100% !important;
        padding-bottom: 20px !important;
    }
}

.navbar {
    padding: 0rem 0rem;
}

.ust-menu {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-top: 5%;
}

.divider {
    padding-top: 7px;
    padding-bottom: 9px;
}

.divider-font {
    font-size: 12px;
}

@media only screen and (max-width: 991px) {
    .divider {
        display: none !important;
    }
}

.divider2 {
    padding-top: 6px;
    padding-bottom: 8px;
    font-size: 12px;
}

@media only screen and (max-width: 991px) {
    .divider2 {
        display: none !important;
    }
}

@media only screen and (max-width: 991px) {
    .ust-menu {
        margin-right: 0px !important;
    }
}

.bg-light {
    background-color: #fff !important;
}

.dil-menu {
    float: right;
}

.dil-menu ul li {
    list-style: none;
    display: inline-block;
    color: #fff;
}

.dil-menu ul li a {
    color: #fff;
    font-size: 12px;
}

.dil-menu-dark {
    color: #3f3f3e;
}

.display-mobil {
    display: none;
}

@media only screen and (max-width: 991px) {
    .banner-anasayfa {
        height: 400px !important;
    }

    .display-mobil {
        display: block;
    }

    .dil-menu {
        display: none;
    }
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #b81521;
}

.dropdown-menu{
    font-size: 14px;
}

.sli-cap{
    background-color: #e74639;
    margin-left: 5%;
    width: 25%;
    padding: 15px 20px;
    text-align: left;
    top: 538px;
    bottom: unset;
}

.sli-cap h5{
    font-weight: 800;
    font-size: 45px;
    line-height: 47px;
}

.sli-cap h5::first-line{
    font-weight: 300;
}

.sli-cap p{
    margin: 0;
    font-size: 12px;
    letter-spacing: 2px;
}


.bd-news{
    position: absolute;
    width: 25%;
    margin-left: 45%;
    margin-top: 538px;
    background-color: rgba(65, 65, 65, 0.9);
    z-index: 999;
}

.bd-news .carousel-item{

}

.news-ind{
    left: unset;
    margin: 0;
    bottom: unset;
    top: 10px;
    right: 20px;
}

.news-ind li{
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 8px;
    height: 8px;
    border: #FFF 1px solid;
    border-radius: 4px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: transparent;
    background-clip: padding-box;
    opacity: .5;
    transition: opacity 0.6s ease;
}
.news-ind li.active{
    background-color: #e74639;
}

.news-cap{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    text-align: left;
}


.news-cap p{
    margin: 0;
    font-size: 14px;
}


.slider-background {
    background-image: url(../images/slidebg.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    width: 100%
}

.banner-bg {
    background-color: #b81521;
}

.banner-style {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: 25vw;
    width: 100%
}

@media only screen and (max-width: 991px) {
    .banner-style {
        height: 45vw !important;
    }
}


.banner-anasayfa {
    background: url(../images/ana-sayfa-banner.jpg) no-repeat center center;
    background-size: cover;
    text-align: center;
    height: 600px;
}



.banner-urunler {
    background-image: url(../images/urunler-banner.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: 25vw;
    width: 100%
}

.banner-hakkimizda {
    background-image: url(../images/hakkimizda-banner.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: 25vw;
    width: 100%
}

@media only screen and (max-width: 991px) {
    .banner-hakkimizda {
        height: 400px !important;
    }
}


@media only screen and (max-width: 991px) {
    .ust-menu {
        margin-right: 0px !important;
    }
}

.slider-1200 {
    max-width: 1140px;
    margin: 0 auto;
}
.no-margin-padding {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.bread-padding {
    padding-right: 0px;
    padding-left: 0px;
}

.breadcrumb {
    width: 100%;
    font-size: 0.8em;
    background-color: unset;
    border-radius: 0em;
    margin-bottom: 0px;
    padding: .75rem 0rem;
    line-height: 0.8;
}

.breadcrumb a {
    color: #fff;
}

.breadcrumb-item.active {
    color: #fff;
}

.breadcrumb-bg-color {
    background-color: #2c2c2c;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #fff;
    content: ">";
}
.sidebar {
    border-right-style: solid;
    border-width: 1px;
    border-color: #dcdcdc;
}

.sidebar .nav-link{
	padding: 0;
	color: #495057;
}

.sidebar .nav-link:hover{
	color: #A92A28;
}

.menu-font {
    font-size: 1em;
}

.list-group-item-action:hover {
    color: #A92A28;
    background-color: #ff000000;
}




footer {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

.footer-menu {
    color: #FFFFFF;
}

.footer-bg {
    font-size: 0.8em;
    background-color: #e63c2e;
}

.copy-size {
    text-align: center;
    font-size: 10px;
}


@media only screen and (max-width: 769px) {
    .footer-center {
        text-align: center !important;
    }
}

@media only screen and (max-width: 769px) {
    .f-p-top-30 {
        padding-top: 30px !important;
    }

    .footer-top {
        padding-top: 30px !important;
    }
}

@media only screen and (max-width: 769px) {
    .footer-alt {
        padding-top: 0px !important;
    }
}

@media only screen and (max-width: 769px) {
    .mt-3 {
        margin-top: 0px !important;
    }
}

.footer-s-link {
    color: #ffffff;
    display: inline-block;
    margin-right: 15px;
}

.footer-s-link:hover {
    color: #A92A28;
    text-decoration: none;
}

.social {
    color: red;
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 34px;
    opacity: .7;
    font-size: 18px;
}

.social:hover {
    opacity: 1;
}
h1 {
    font-size: 3.2em;
    font-weight: 300;
    color: #3c3c3b;
}

h2 {
    font-size: 2.3em;
}

h3 {
    font-size: 1.4em
}

p {
    font-size: 1em;
}

@media only screen and (max-width: 560px) {
    body {
        font-size: 12px !important;
    }
}

@media only screen and (max-width: 575px) {
    h1 {
        font-size: 2.5em !important;
    }
}
.btn-font-size {
    font-size: 0.6em;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #3c3c3b;
    overflow-x: hidden;
}

.list-group-item-action {
    width: 100%;
}

.form-control {
    border-radius: 0px;
}

.form-padding {
    padding-left: 20%;
    padding-top: 10%;
    padding-bottom: 10%;
}

.form-grup-padding {
    padding-right: 0px;
    padding-left: 0px;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #b40b0b;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0);
}

@media only screen and (max-width: 991px) {
    .form-padding {
        padding-left: 5% !important;
    }
}



.btn-primary {
    background-color: #b81521;
    border-color: #b81521;
}

.btn-primary:hover {
    color: #fff;
    background-color: #3C3C3B;
    border-color: #3C3C3B;
}

.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: #3C3C3B;
    border-color: #3C3C3B;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #b81521;
    border-color: #b81521;
}

.btn-secondary {
    background-color: #3c3c3b;
    border-color: #3c3c3b;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #b81521;
    border-color: #b81521;
}

.btn {
    border-radius: 1.5rem;
}

.btn:hover {
    color: #ffffff;
    text-decoration: none;
}

.btn-default:hover {
    color: #b81521;
}

.row-full {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
}

.bg-image-container {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 300px;
}

.m-b-50-left {
    float: left;
    margin-bottom: 50px;
}

.margin-tb-35 {
    margin-top: 35px;
    margin-bottom: 35px;
}

.margin-b-35 {
    margin-bottom: 35px;
}

.margin-b-15 {
    margin-bottom: 15px;
}

.p-top-20 {
    padding-top: 20px;
}

.m-top-16 {
    margin-top: 16px;
}

.p-left-y5 {
    padding-left: 5%;
}

.p-lr-0 {
    padding-left: 0;
    padding-right: 0;
}

.moreButtonBlack {
    border: 1px solid black;
    padding: 6px;
    color: black;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.moreButtonWhite {
    border: 1px solid white;
    padding: 6px;
    color: white;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.moreButtonWhite:hover {
    color: white;
}