/*MENÜ VE LANG*/
.navbar-expand-lg .navbar-nav .nav-link {
    color: #3f3f3e;
    padding-right: .2rem;
    padding-left: .2rem;
}

.nav-menu-color, .nav-menu-color .nav-link {
    color: #fff !important;
}

.container-menu-margin {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15px;
}

.menu-white-font {
    color: #fff;
}

.container-menu-height {
    height: 150px;
}

.container-menu-padding {
    padding: 0;
}

@media only screen and (max-width: 991px) {
    .container-menu-height {
        height: 100% !important;
        padding-bottom: 20px !important;
    }
}

.navbar {
    padding: 0rem 0rem;
}

.ust-menu {
    font-size: 14px;
    margin-top: 5%;
}

.divider {
    padding-top: 7px;
    padding-bottom: 9px;
}

.divider-font {
    font-size: 12px;
}

@media only screen and (max-width: 991px) {
    .divider {
        display: none !important;
    }
}

.divider2 {
    padding-top: 6px;
    padding-bottom: 8px;
    font-size: 12px;
}

@media only screen and (max-width: 991px) {
    .divider2 {
        display: none !important;
    }
}

@media only screen and (max-width: 991px) {
    .ust-menu {
        margin-right: 0px !important;
    }
}

.bg-light {
    background-color: #fff !important;
}

.dil-menu {
    float: right;
}

.dil-menu ul li {
    list-style: none;
    display: inline-block;
    color: #fff;
}

.dil-menu ul li a {
    color: #fff;
    font-size: 12px;
}

.dil-menu-dark {
    color: #3f3f3e;
}

.display-mobil {
    display: none;
}

@media only screen and (max-width: 991px) {
    .banner-anasayfa {
        height: 400px !important;
    }

    .display-mobil {
        display: block;
    }

    .dil-menu {
        display: none;
    }
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #b81521;
}

.dropdown-menu{
    font-size: 14px;
}
