.sidebar {
    border-right-style: solid;
    border-width: 1px;
    border-color: #dcdcdc;
}

.sidebar .nav-link{
	padding: 0;
	color: #495057;
}

.sidebar .nav-link:hover{
	color: #A92A28;
}

.menu-font {
    font-size: 1em;
}

.list-group-item-action:hover {
    color: #A92A28;
    background-color: #ff000000;
}



