.slider-background {
    background-image: url(../images/slider-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center -100px;
    background-size: cover;
    width: 100%
}

.banner-bg {
    background-color: #b81521;
}

.banner-style {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: 25vw;
    width: 100%
}

@media only screen and (max-width: 991px) {
    .banner-style {
        height: 45vw !important;
    }
}


.banner-anasayfa {
    background: url(../images/ana-sayfa-banner.jpg) no-repeat center center;
    background-size: cover;
    text-align: center;
    height: 600px;
}



.banner-urunler {
    background-image: url(../images/urunler-banner.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: 25vw;
    width: 100%
}

.banner-hakkimizda {
    background-image: url(../images/hakkimizda-banner.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: 25vw;
    width: 100%
}

@media only screen and (max-width: 991px) {
    .banner-hakkimizda {
        height: 400px !important;
    }
}


@media only screen and (max-width: 991px) {
    .ust-menu {
        margin-right: 0px !important;
    }
}

.slider-1200 {
    max-width: 1140px;
    margin: 0 auto;
}