footer {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

.footer-menu {
    color: #FFFFFF;
}

.footer-bg {
    font-size: 0.8em;
    background-color: #e63c2e;
}

.copy-size {
    text-align: center;
    font-size: 10px;
}


@media only screen and (max-width: 769px) {
    .footer-center {
        text-align: center !important;
    }
}

@media only screen and (max-width: 769px) {
    .f-p-top-30 {
        padding-top: 30px !important;
    }

    .footer-top {
        padding-top: 30px !important;
    }
}

@media only screen and (max-width: 769px) {
    .footer-alt {
        padding-top: 0px !important;
    }
}

@media only screen and (max-width: 769px) {
    .mt-3 {
        margin-top: 0px !important;
    }
}

.footer-s-link {
    color: #ffffff;
    display: inline-block;
    margin-right: 15px;
}

.footer-s-link:hover {
    color: #A92A28;
    text-decoration: none;
}

.social {
    color: red;
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 34px;
    opacity: .7;
    font-size: 18px;
}

.social:hover {
    opacity: 1;
}