body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #3c3c3b;
    overflow-x: hidden;
}

.list-group-item-action {
    width: 100%;
}

.form-control {
    border-radius: 0px;
}

.form-padding {
    padding-left: 20%;
    padding-top: 10%;
    padding-bottom: 10%;
}

.form-grup-padding {
    padding-right: 0px;
    padding-left: 0px;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #b40b0b;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0);
}

@media only screen and (max-width: 991px) {
    .form-padding {
        padding-left: 5% !important;
    }
}



.btn-primary {
    background-color: #b81521;
    border-color: #b81521;
}

.btn-primary:hover {
    color: #fff;
    background-color: #3C3C3B;
    border-color: #3C3C3B;
}

.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: #3C3C3B;
    border-color: #3C3C3B;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #b81521;
    border-color: #b81521;
}

.btn-secondary {
    background-color: #3c3c3b;
    border-color: #3c3c3b;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #b81521;
    border-color: #b81521;
}

.btn {
    border-radius: 1.5rem;
}

.btn:hover {
    color: #ffffff;
    text-decoration: none;
}

.btn-default:hover {
    color: #b81521;
}

.row-full {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
}

.bg-image-container {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 300px;
}

.m-b-50-left {
    float: left;
    margin-bottom: 50px;
}

.margin-tb-35 {
    margin-top: 35px;
    margin-bottom: 35px;
}

.margin-b-35 {
    margin-bottom: 35px;
}

.margin-b-15 {
    margin-bottom: 15px;
}

.p-top-20 {
    padding-top: 20px;
}

.m-top-16 {
    margin-top: 16px;
}

.p-left-y5 {
    padding-left: 5%;
}

.p-lr-0 {
    padding-left: 0;
    padding-right: 0;
}

.moreButtonBlack {
    border: 1px solid black;
    padding: 6px;
    color: black;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.moreButtonWhite {
    border: 1px solid white;
    padding: 6px;
    color: white;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.moreButtonWhite:hover {
    color: white;
}