.sli-cap{
    background-color: #e74639;
    margin-left: 5%;
    width: 25%;
    padding: 15px 20px;
    text-align: left;
    top: 538px;
    bottom: unset;
}

.sli-cap h5{
    font-weight: 800;
    font-size: 45px;
    line-height: 47px;
}

.sli-cap h5::first-line{
    font-weight: 300;
}

.sli-cap p{
    margin: 0;
    font-size: 12px;
    letter-spacing: 2px;
}


.bd-news{
    position: absolute;
    width: 25%;
    margin-left: 45%;
    margin-top: 538px;
    background-color: rgba(65, 65, 65, 0.9);
    z-index: 999;
}

.bd-news .carousel-item{

}

.news-ind{
    left: unset;
    margin: 0;
    bottom: unset;
    top: 10px;
    right: 20px;
}

.news-ind li{
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 8px;
    height: 8px;
    border: #FFF 1px solid;
    border-radius: 4px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: transparent;
    background-clip: padding-box;
    opacity: .5;
    transition: opacity 0.6s ease;
}
.news-ind li.active{
    background-color: #e74639;
}

.news-cap{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    text-align: left;
}


.news-cap p{
    margin: 0;
    font-size: 14px;
}


.slider-background {
    background-image: url(../images/slidebg.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    width: 100%
}

.banner-bg {
    background-color: #b81521;
}

.banner-style {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: 25vw;
    width: 100%
}

@media only screen and (max-width: 991px) {
    .banner-style {
        height: 45vw !important;
    }
}


.banner-anasayfa {
    background: url(../images/ana-sayfa-banner.jpg) no-repeat center center;
    background-size: cover;
    text-align: center;
    height: 600px;
}



.banner-urunler {
    background-image: url(../images/urunler-banner.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: 25vw;
    width: 100%
}

.banner-hakkimizda {
    background-image: url(../images/hakkimizda-banner.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: 25vw;
    width: 100%
}

@media only screen and (max-width: 991px) {
    .banner-hakkimizda {
        height: 400px !important;
    }
}


@media only screen and (max-width: 991px) {
    .ust-menu {
        margin-right: 0px !important;
    }
}

.slider-1200 {
    max-width: 1140px;
    margin: 0 auto;
}